PORT=2002
HOST=203.175.125.151
NODE_ENV=production
JWT_SECRET=your_jwt_secret_here
ADMIN_SECRET=your_admin_secret_here

# SEKALIPAY CREDENTIALS
SEKALIPAY_API_KEY=your_sekalipay_api_key
SEKALIPAY_WEBHOOK_SECRET=your_sekalipay_webhook_secret

# DATABASE CONFIG
DATABASE_FILE=data.sqlite

# CLOUDFLARE TUNNEL
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

# MIRAIPEDIA STATIC TO DYNAMIC QRIS
STATIC_QRIS=00020101021226570011ID.DANA.WWW011893600915303463582702090346358270303UMI51440014ID.CO.QRIS.WWW0215ID10265819355290303UMI520448145303360540410005802ID5916Noxarianet Store6015Kab. Pekalongan61055115563049C78
MIRAIPEDIA_API_URL=https://qris.miraipedia.my.id/api/convert

